.select__input__box {
  display: flex;
}
.select__input-wrapper {
  width: 300px;
  position: relative;
}
.select__input {
  font-family: 'Roboto', sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #818181;
  padding: 10px 20px;
  z-index: 3;
}

.select__input__dropdown {
  overflow-y: scroll;
  max-height: 300px;
  list-style: none;
  display: block;
  border: 1px solid #818181;
  background-color: #ffffffd1;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  z-index: 4;
  padding: unset;
  margin: unset;
}

.select__input__dropdown-item {
  display: block;
  width: 100%;
}
.select__input__dropdown-item__button {
  cursor: pointer;
  text-align: start;
  width: 100%;
  display: block;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  padding: 8px 20px;
}
.select__input__dropdown-item__button:hover {
  background-color: #e1e1e1;
}

.select__input-button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 30px;
  line-height: 0.6;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #209de1;
  border-radius: 0 5px 5px 0;
  padding: 10px 30px;
  margin-left: 5px;
  transition: all ease 0.03s;
}
.select__input-button:hover {
  background-color: #1686c2;
}
